<div class="graph-edit">
  <div class="container d-flex flex-column align-items-center">
    <div class="row">
      <h1 class="title mt-5 mb-5">編集画面</h1>
    </div>
    <div class="row">
      <%= form_with model: @graph, local:true do |f| %>
        <div class="form-group" mb-3>
          <label class="form-label">学年or年齢</label>
            <%= f.text_field :age, class:"form-control" %>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">数値</label>
            <%= f.text_field :value, class:"form-control" %>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">コメント</label>
            <%= f.text_area :comment, rows:10, class:"form-control" %>
        </div>
        <%= f.submit '保存する', class: "btn btn-primary" %>
        <%= link_to '削除する', graph_path(@graph.id), data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？"}, class:"btn btn-danger" %><br>
        <%= link_to '戻る', graphs_path, class:"btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
