<div class="cover-graph">
  <div class="container d-flex flex-column align-items-center">
    <h1 class="font-weight-normal mt-5 mb-3">モチベーショングラフ</h1>
    <div class="button-container">
      <%= link_to "追加", graphs_new_path, class:"btn btn-warning" %>
    </div>
    <div class="graph-container d-flex flex-column align-items-center">
      <%= line_chart @data_for_graph,
        width: "1000px",
        height: "500px",
        min: -100,
        max: 100,
        colors: ["#0000FF"],
        stroke_width: 10,
        dataset: {
          borderColor: "#000099",
          borderWidth: 5,
          pointRadius: 5,
          pointHoverRadius: 10,
          pointBackgroundColor: "rgba(255, 255, 255, 1)",
          pointBorderColor: "#0000FF",
        },
        options: {
          scales: {
            x: {
              grid: {
                color: "#000", 
                lineWidth: 20, 
              },
            },
            y: {
              grid: {
                color: "#000", 
                lineWidth: 20, 
              },
            },
          },
        }
      %>
    </div> 
  </div>
</div>

<script>
document.addEventListener("turbolinks:load", function() {
  const canvas = document.getElementById('chart-1');

  if (!canvas) {
    alert("Canvas element not found");
    return; 
  }else{
    alert("Canvas found"); 
  }
  const pointRadius = 5;
  canvas.addEventListener('click', function(event) {
    alert("Canvas clicked"); 
    const rect = canvas.getBoundingClientRect();
    const mouseX = event.clientX - rect.left;
    const mouseY = event.clientY - rect.top;

    <% @data_with_links.each_with_index do |data, index| %>
      const pointX<%= index %> = <%= data[:age] %>;
      const pointY<%= index %> = <%= data[:value] %>;
      const id<%= index %> = <%= data[:id] %>;

      if (mouseX >= pointX<%= index %> - pointRadius && mouseX <= pointX<%= index %> + pointRadius &&
          mouseY >= pointY<%= index %> - pointRadius && mouseY <= pointY<%= index %> + pointRadius) {
        const link = `/graphs/${id<%= index %>}/edit`; 
        window.location.href = link; 
      }
      console.log(`Mouse Position: (${mouseX}, ${mouseY})`);
      console.log(`Point Position: (${pointX<%= index %>}, ${pointY<%= index %>})`);

    <% end %>
  });
});

</script>