<div class="cover-graph">
  <div class="container d-flex flex-column align-items-center">
    <h1 class="font-weight-normal mt-5 mb-3">モチベーショングラフ</h1>
    <div class="button-container">
      <%= link_to "追加", graphs_new_path, class:"btn btn-warning" %>
    </div>
    <div class="graph-container d-flex flex-column align-items-center">
      <%= line_chart @data_for_graph,
        width: "1000px",
        height: "500px",
        min: -100,
        max: 100,
        colors: ["#0000FF"],
        stroke_width: 10,
        dataset:{
          borderColor: "#000099",
          borderWidth: 3,
          pointRadius: 5,
          pointHoverRadius: 10,
          pointBackgroundColor: "rgba(255, 255, 255, 1)",
          pointBorderColor: "#0000FF",
        }
      %>
      <% @data_with_links.each do |data| %>
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            const point = document.querySelector(`circle[data-x="<%= data[:age] %>"][data-y="<%= data[:value] %>"]`);
            if (point) {
              point.setAttribute('data-link', '<%= j data[:link] %>');

            const comment = document.createElement('div');
            comment.className = 'comment';
            comment.innerText = '<%= j data[:comment] %>';
            comment.style.position = 'absolute';
            comment.style.display = 'none';

            const graphContainer = document.querySelector('.graph-container');
            graphContainer.appendChild(comment);

            point.addEventListener('click', function(){
              const link = point.getAttribute('data-link');
              if (link){
                window.location.href = link;
              }
            });

            point.addEventListener('mouseover', function(event){
              comment.style.display = 'block';
              comment.style.left = `${event.clientX}px`;
              comment.style.top = `${event.clientY}px`;
            });

            point.addEventListener('mouseout', function(){
              comment.style.display = 'none';
            });
          }
         });
        </script>
      <% end %>
    </div> 
  </div>
</div>

