<div class="cover-user-index">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
      <h1 class="font-weight-normal">ユーザ一覧</h1>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <%= @users.each do |user| %>
      <div class="one-post card mt-3">
        <%= link_to user_path(user) do %>
          <p class="caption h4"><%= user.name %></p>
        <% end %>

        <canvas id="chart-<%= user.id %>" width="400" height="200"></canvas>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            // Chart.jsの設定
            var ctx = document.getElementById('chart-<%= user.id %>').getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'line',  // 折れ線グラフ
              data: {
                labels: <%= raw(user.graphs.map(&:age).to_json) %>,  // 年齢をx軸のラベルとして
                datasets: [{
                  label: 'モチベーション',
                  data: <%= raw(user.graphs.map(&:value).to_json) %>,  // 値をy軸のデータとして
                  backgroundColor: 'rgba(75,192,192,0.2)',
                  borderColor: 'rgba(75,192,192,1)',
                  borderWidth: 3,
                  pointRadius: 5,
                  pointHoverRadius: 10
                }]
              },
              options: {
                tooltips: {
                  callbacks: {
                    title: function(tooltipItem, data) {
                      return '年齢: ' + data.labels[tooltipItem[0].index];
                    },
                    label: function(tooltipItem, data) {
                      var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                      return '数値: ' + value;
                    }
                  }
                }
              }
            });
          </script>
        </div>
      </div>
    <% end %>
  </div>
</div>
