<div class="cover-user-show">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5">
      <% if user_signed_in? && @user == current_user %>
      <h1 class="font-weight-normal">マイページ</h>
      <% else %>
      <h1 class="font-weight-normal"><%= @user.name %>さんのページ</h1>
      <% end %>
    </div>
    <% if user_signed_in? && @user == current_user %>
    <p class="d-flex align-self-end">
      <%= link_to "グラフの追加", graphs_new_path, class:"btn btn-warning" %> 
      <%= link_to "プロフィール編集", edit_user_path(@user),class: "btn btn-success" %>
    </p>
    <% end %>
    <div class="d-flex w-100">
      <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.svg", class: "mb-3 profile-img" %>
      <h4 class="ml-3 mb-3 card w-100 profile"><%= @user.profile %></h4>
    </div>
    
    <canvas id="myChart"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      var labels = <%= raw(@labels.to_json) %>;
      var values = <%= raw(@values.to_json) %>;
      var dataWithLinks = <%= raw(@data_with_links.to_json) %>;
      var isCurrentUserPage = <%= user_signed_in? && @user == current_user %>;
      var ctx = document.getElementById('myChart');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: labels,
              datasets: [{
                  label: 'モチベーション',
                  data: values,
                  backgroundColor: 'rgba(75,192,192,0.2)',
                  borderColor: 'rgba(75,192,192,1)',
                  borderWidth: 3,
                  pointRadius: 5,
                  pointHoverRadius:10
              }]
          },
          options: {
            tooltips: {
                enabled: true,
                callbacks: {
                    title: function(tooltipItem, data) {
                        return '年齢: ' + data.labels[tooltipItem[0].index];
                    },
                    label: function(tooltipItem, data) {
                        var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                        var comment = dataWithLinks[tooltipItem.index].comment; 
                        console.log("index: " + tooltipItem.index);
                        console.log("dataWithLinks: ", dataWithLinks);
                        return '数値: ' + value + ', コメント: ' + (comment || 'コメントなし');
                    }
                }
            }
        }
      });
    </script>
  </div>
</div>

<div id="comment-container" style="margin-top: 20px; font-size: 18px;">
</div>

<script>
document.addEventListener("turbo:load", function() {
  const chartElement = document.getElementById('myChart');
  const dataWithLinks = <%= raw(@data_with_links.to_json) %>;
  chartElement.onclick = function(event) {
    if (!isCurrentUserPage) return;
    const chart = myChart
    const points = chart.getElementsAtEventForMode(event, 'nearest', { intersect: true }, false);
    if (points.length) {
      const index = points[0].index; // クリックされた点のインデックスを取得
      const id = dataWithLinks[index].id; // idを取得
      const comment = dataWithLinks[index].comment;
      const link = `/graphs/${id}/edit`; // リンクを作成

      const commentContainer = document.getElementById('comment-container');
      if (comment) {
        commentContainer.innerHTML = `<p>コメント: ${comment}</p>`;
      } else {
        commentContainer.innerHTML = `<p>コメントはありません。</p>`;
      }

       setTimeout(function() {
          window.location.href = link; // 編集ページにリダイレクト
        }, 100); // 100ミリ秒後に遷移
    }
  };
});
</script>
