<div class="cover-by-age">
  <div class="container d-flex flex-column">
    <div class="row mt-5 text-center">
      <h1><%= @age %> years old</h1>
    </div>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-12 col-md-4 mb-3">
          <div class="border border-primary by-age-border">
            <h2 class="event-month"><%= event.month %>月</h2>
            <h3 class="event"><%= event.event %></h3>
            <p><%= event.event_detail %></p>
            <div class="image-container">
              <%= attachment_image_tag event, :image, format: 'jpeg', size: "200x150" %><br>
            </div>
          </div>
          <% if event.user == current_user %>
            <%= link_to '編集する', edit_event_path(event.id), class:"btn btn-primary edit" %>
            <%= link_to '削除する', event_path(event.id), data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？"}, class:"btn btn-danger" %><br>
          <% end %>
        </div>
      <% end %>
      <div class="text-left">
      <%= link_to '戻る', events_path, class:"btn btn-secondary to-top" %>
      </div>
    </div>
  </div>
</div>