<div class="cover-edit">
  <div class="container d-flex flex-column align-items-center">
    <div class="row">
      <h1 class="title mt-5">編集画面</h1>
    </div>
    <% if @event.errors.any? %>
      <div class="card text-center text-white bg-danger mt-3">
        <%= @event.errors.count %>件のエラーが発生しました
        <%= safe_join(@event.errors.full_messages.map { |message| content_tag(:p, message) }) %>
      </div>
    <% end %>
    <div class="row">
      <%= form_with model:@event, local:true do |f| %>
      <div class="form-group mb-3">
        <label class="form-label">年齢</label>
        <%= f.text_field :age, class:"form-control" %>
      </div>
      <div class="form-group mb-3">
        <label class="form-label">月</label>
        <%= f.text_field :month, class:"form-control" %>
      </div>
      <div class="form-group mb-3">
        <label class="form-label">出来事</label>
        <%= f.text_area :event, class:"form-control" %>
      </div>
      <div class="form-group mb-3">
        <label class="form-label">出来事詳細</label>
        <%= f.text_area :event_detail, rows:10, class:"form-control" %>
      </div>
      <div class="form-group mb-3">
        <label class="form-label">画像</label>
        <%= f.file_field :image%>
      </div>
      <%= f.submit '保存する', class:"btn btn-primary" %><br>
      <%= link_to '戻る', events_by_age_path(@age || 0), class:"btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>