<h1>編集画面</h1>
<%= form_with model:@event, local:true do |f| %>
    <h4>年齢</h4>
    <%= f.text_field :age %>
    <h4>出来事</h4>
    <%= f.text_area :event %>
    <h4>出来事詳細</h4>
    <%= f.text_area :event_detail %>
    <%= f.submit '保存する' %>
<% end %>