<!DOCTYPE html>
<html>
  <head>
    <title>My Life</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div>
        <%= link_to image_tag("logo.png", alt:"My Life", style:"width:130px; height:auto;"),root_path, class: "text-white nav-link" %>
      </div>
      <div><%= link_to "トップ", root_path, class:"text-white nav-link" %></div>
      <div><%= link_to "追加する", new_event_path, class:"text-white nav-link" %></div>
    </header>
    <%= yield %>
  </body>
</html>
